{% extends 'base.html.twig' %}

{% block title %}
    Contact {{ parent() }}
{% endblock %}


{% block contact %}
    <div class="disabled col-xs-1">&#9742; Contact</div>
{% endblock %}


{% block section %}
<article id="backgroundcontact">
    <div class="container">
        <address>
            <h1>Contact</h1>
            Mon adresse Email &#9758; aurelien.theriot@gmail.com <br/>
            <a href="mailto:aurelien.theriot@gmail.com"> &#9755; Contactez-moi </a><br/>
            Mon Twitter <img src="{{ asset('img/illustrations/twitter_icon.gif') }}" alt="Twitter"/><br/>
            <a target="_blank" href="https://twitter.com/S7tH_S3nsei"> &#9755; @S7tH_S3nsei </a><br/><br/>
            Mon LinkedIn<br/>
            <a target="_blank" href="https://www.linkedin.com/in/aurelien-theriot-66178812a/"> &#9755; <img src="{{ asset('img/illustrations/linkedin-button-small.png') }}" alt="Twitter"/> </a>
        </address>
    </div>
</article>
{% endblock %}