{% extends 'base.html.twig' %}

{% block title %}
    Contact {{ parent() }}
{% endblock %}


{% block contact %}
    <div class="disabled col-xs-1">&#9742; Contact</div>
{% endblock %}

{% block navside %}
{% endblock %}

{% block page %}
<article class="contact">


<address>
    <h1>Contact</h1>

    Mon adresse Email &#9758; aurelien.theriot@gmail.com <br/>
    <a href="mailto:aurelien.theriot@gmail.com"> &#9755; Contactez-moi </a>
</address>

</article>
{% endblock %}
